{% extends "layout.html" %}
{% block body %}

<div class="container mt-4">
    <!-- Titulo de la pagina -->
    <h2>venta de productos</h2>
    <div style="display: grid; grid-template-columns: repeat(2,1fr);">
        <div>
            <!-- Formulario para procesar la compra /venta -->
            <form method="post" action="/procesar_venta" onsubmit="return confirm('¿Estás seguro de procesar la compra?');">
                <!-- Campo para seleccionar el cliente / proveedor -->
                <div class="form-group">
                    <label for="id_cliente">Selecciona un cliente:</label>
                    <select class="form-control" id="id_cliente" name="id_cliente">
                        {% for cliente in cliente_data %}
                            <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Campos ocultos para cada producto en el pedido -->
                {% for item in lista_vta %}
                    <input type="hidden" name="productos[]" value="{{ item['id'] }}">
                    <input type="hidden" name="cantidades[]" value="{{ item['cantidad'] }}">
                    <input type="hidden" name="precios[]" value="{{ item['precio'] }}">
                {% endfor %}

                <!-- Campo para ingresar el pago al cliente / proveedor -->
                <div class="form-group">
                    <label for="pago_cliente">Pago:</label>
                    <input type="number" class="form-control" id="pago_cliente" name="pago_cliente" required>
                    
                    <input type="hidden" id="fecha_hora" name="fecha_hora" readonly>
                    <script>
                        window.addEventListener('DOMContentLoaded', function () {
                            // Obtener el campo de fecha y hora por su ID
                            var campoFechaHora = document.getElementById('fecha_hora');
                
                            // Crear un objeto Date para obtener la fecha y hora actual
                            var fechaActual = new Date();
                
                            // Formatear la fecha y hora actual como una cadena con formato personalizado
                            var fechaActualFormateada = fechaActual.getFullYear() + '-' + 
                                                       (fechaActual.getMonth() + 1).toString().padStart(2, '0') + '-' + 
                                                       fechaActual.getDate().toString().padStart(2, '0') + ' ' +
                                                       fechaActual.getHours().toString().padStart(2, '0') + ':' +
                                                       fechaActual.getMinutes().toString().padStart(2, '0') + ':' +
                                                       fechaActual.getSeconds().toString().padStart(2, '0');
                
                            // Asignar la fecha y hora actual al campo de fecha y hora
                            campoFechaHora.value = fechaActualFormateada;
                        });
                    </script>
                </div>

                <!-- Mostrar el total de la compra -->
                <p>Total de la venta: ${{ total }}</p>
                
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <!-- Boton para procesar la compra -->
                        <button type="submit" class="btn btn-success">Procesar venta</button>

                        <!-- Boton para cancelar la venta con confirmación -->
                        <a href="/cancelar_venta" class="btn btn-danger" onclick="return confirm('¿Estás seguro de cancelar el pedido?');">Cancelar venta</a>
                    </div>
                    <div>
                        <!-- Boton para volver a la lista de productos -->
                        <a href="/venta" class="btn btn-success" style="padding: 2px;"><img src="../../static/images/ico/cart-shopping-solid.svg" style="height: 2rem;"></a>
                    </div>
                </div>
            </form>

        </div>
        <div style="margin: 0 0 0 10%; max-height: 75vh; overflow-y: auto; display: flex; gap: 10px; flex-direction: column; justify-content: space-between;">
            <div style="padding: 3% 5%; background-color: beige;">
                <!-- Lista de productos en el pedido -->
                <div style="display: grid; grid-template-columns: repeat(3,1fr);">
                    <h5>Productos:</h5><h5 style="text-align: center;">Cant:</h5><h5 style="text-align: center;">Precio:</h5>
                    {% for item in lista_vta %}
                        <!-- Mostrar el nombre, cantidad y precio de cada producto en el pedido -->
                        <div style="grid-column: 1/-1; display: grid; grid-template-columns: repeat(3,1fr); margin: 2px 0;">
                            <div>
                                <h6 style="width: 8em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item['nombre'] }}</h6>
                            </div>
                            <div style="text-align: center;">
                                <input type="hidden" name="productos[]" value="{{ item['id'] }}">
                                <input type="number" class="cantidad" name="cantidades[]" value="{{ item['cantidad'] }}" style="width: 50%; text-align: center;">
                                <input type="hidden" name="precios[]" value="{{ item['precio'] }}">
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <h6>${{ item['precio'] }}</h6>
                                </div>
                                <div>
                                    <h6>${{ item['precio'] * item['cantidad'] }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div>
            <a href="/actualizar_venta" class="btn btn-success">Actualizar venta</a>  
        </div>
    </div>
</div>

<!-- Script de Actualizacion de cantidades -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $(".cantidad").on("input", function() {
      var cantidad = $(this).val();
      var id = $(this).siblings("input[name='productos[]']").val();
      
      // Envia los datos al servidor utilizando AJAX
        $.ajax({
            type: "POST",
            url: `/actualizar_cantidad_venta/${id}/${cantidad}`
        });
    });
  });
</script> 

{% endblock %}