{% extends "layout.html" %}

    {% block body %}
    <div class="container">
        <div class="navBar">
            <div class="col1" style="margin-top: 10px;">
                <h2>Nuevo producto</h2>
                <!-- Formulario de producto -->
                <form action="/add_product" method="POST">

                    <input type="text" name="nombre" placeholder="Nombre">
                    <select name="tipo" id="tipo">
                        <option value="">Categoria</option>
                        <option value="pintura">Pintura</option>
                        <option value="ferreteria">Ferreteria</option>
                        <option value="otros">Otros</option>
                    </select>
                    <input type="number" name="cantidad" placeholder="Cantidad">
                    <input type="number" name="precio" placeholder="$0.00">
                    <button type="submit">Guardar</button>
                
                </form>
                <!-- Mensaje de modificacion -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="col2" style="margin-bottom: 10px;">
                <h2> </h2>
                <a href="{{ url_for('Index') }}">Volver</a>
            </div>
        </div>
        <!-- Tabla de producto -->
        <div class="containerTable">
             <!-- Filtro -->
            <form action="/filter" method="POST">
                <select name="tipo" id="tipo">
                    {% if filterDB is defined %}
                        <option value="">{{ filterDB.1 }}</option>
                    {% else %}
                        <option value="">Categoria</option>
                    {% endif %}
                    <option value="Pintura">Pintura</option>
                    <option value="Ferreteria">Ferreteria</option>
                    <option value="Otros">Otros</option>
                </select>
                <span>Ordenar por: </span>
                <select name="tipo_orden" id="tipo_orden">
                    {% if filterDB is defined %}
                        <option value="{{ filterDB.2 }}">{{ filterDB.2 }}</option>
                    {% else %}
                    {% endif %}
                    <option value="cantidad">cantidad</option>
                    <option value="precio">precio</option>
                </select>
                <select name="orden" id="orden">
                    {% if filterDB is defined %}
                        {% if filterDB.3 == "DESC" %}
                            <option value="{{ filterDB.3 }}">Mayor</option>
                        {% else %}
                            <option value="{{ filterDB.3 }}">Menor</option>
                        {% endif%}
                    {% else %}
                    {% endif %}
                    <option value="ASC">Menor</option>
                    <option value="DESC">Mayor</option>
                </select>
                {% if filterDB is defined %}
                    <input type="text" name="nombre" placeholder="Nombre" value="{{ filterDB.0 }}">
                {% else %}
                    <input type="text" name="nombre" placeholder="Nombre">
                {% endif %}
                <button type="submit">Buscar</button>
            
            </form>
            <table>
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Tipo</td>
                        <td>Cantidad</td>
                        <td>Precio</td>
                        <td>Operaciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% for dato in datosDB %}
                    <tr>
                        <td> {{ dato.1 }} </td>
                        <td> {{ dato.2 }} </td>
                        <td> {{ dato.3 }} </td>
                        <td> $ {{ dato.4 }} </td>
                        <td>
                            <a href="/edit_product/{{dato.0}}" class="btnEditar">Editar</a>
                            <a href="/delete_product/{{dato.0}}" class="btnBorrar">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if editDB is defined %}
                <!-- Popup para editar -->
                <div id="popup" class="popup">
                    <div class="popup-content">
                        <span class="close" id="closePopup">&times;</span>
                        <h2>Editar Producto</h2>
                        <form action="/update_product/{{ editDB.0 }}" method="POST">
                            <!-- Agrega campos del formulario para editar el producto aquí -->
                            <input type="text" name="nombre" placeholder="Nombre" value="{{ editDB.1 }}">
                            <select name="tipo" id="tipo">
                                <option value="{{ editDB.2 }}">{{ editDB.2 }}</option>
                                <option value="pintura">Pintura</option>
                                <option value="ferreteria">Ferreteria</option>
                                <option value="otros">Otros</option>
                            </select>
                            <input type="number" name="cantidad" placeholder="Cantidad" value="{{ editDB.3 }}">
                            <input type="number" name="precio" placeholder="$0.00" value="{{ editDB.4 }}">
                            <input type="submit" value="Guardar Cambios">
                        </form>
                    </div>
                </div>
            {% else %}
            {% endif %}
            <script>
                // JavaScript para mostrar y ocultar el popup
                var popup = document.getElementById("popup");
                var closePopupBtn = document.getElementById("closePopup");
                var openPopupBtn = document.getElementById("openPopupDelete");

                closePopupBtn.addEventListener("click", function() {
                    popup.style.display = "none";
                });

                openPopupBtn.addEventListener("click", function() {
                    popup.style.display = "block";
                }); //seguir con el btn delete button (abrir popup al dar click en borrar, confirmar o cancelar, confirmar llama a la accion POST)
            </script>
        </div>
    </div>
    {% endblock %}