{% extends "layout.html" %}

    {% block body %}
    <h1>Productos</h1>
    <h2>Carga de producto</h2>
    <hr>
    <a href="{{ url_for('Index') }}">Volver</a>

    <form action="/add_product" method="POST">

        <input type="text" name="nombre" placeholder="Nombre">
        <select name="tipo" id="tipo">
            <option value="">--seleccionar una opcion--</option>
            <option value="pintura">Pintura</option>
            <option value="ferreteria">Ferreteria</option>
            <option value="otros">Otros</option>
        </select>
        <input type="number" name="cantidad" placeholder="Cantidad">
        <input type="number" name="precio" placeholder="$0.00">
        <button type="submit">Guardar</button>
    
    </form>
    {% endblock %}