{% extends "layout.html" %}

    {% block body %}
    <div class="container">
        <div class="navBar">
            <div class="col1" style="margin-top: 10px;">
                <!--
                <h2>ejemplo 1</h2>
                <a href="{{ url_for('CargaProducto') }}">Carga de producto</a>
                <a href="{{ url_for('Venta') }}">Venta</a>
                <h2>ejemplo 2</h2>
                <a href="{{ url_for('Empresa') }}">Empresa</a>
                <a href="{{ url_for('Productos') }}">Productos</a>
                <a href="{{ url_for('Clientes') }}">Clientes</a>
                <a href="{{ url_for('Proveedores') }}">Proveedores</a>
                -->
            </div>
            <div class="col2" style="margin-bottom: 10px;">
                <h2> </h2>
                <a href="{{ url_for('Index') }}">Volver</a>
            </div>
        </div>
        <div class="containerTable">
            <h1>Reportes</h1>
        </div>
    </div>

    {% endblock %}